.flex-container {
	display: flex;
}

nav {
	background-color: rgba(0,0,0,1.00);
    color: rgba(222,222,222,1);
    height: 3.3em;
    margin: 0 auto;
    width: 100%;
}

nav * {
	flex-direction: row;
}

#navLinks {
	justify-content: flex-end;
}